.field{
  width: 100%;

}

.nav{
  background-color: #adce74;
}

h1{
  font-family: 'Heebo', sans-serif;
  font-size: 6rem;
  text-align: center;
  padding-bottom: 35px;
}

h2{
  font-family: 'Heebo', sans-serif;
  font-size: 4rem;
  text-align: center;
  padding-bottom: 45px;
}

h3{
  font-family: 'Heebo', sans-serif;
  font-size: 2.5rem;
}

.parabundle{
  font-family: 'Secular One', sans-serif;
  margin-top: 30px;
  text-align: center;
  line-height: 2.5;

}

.bundle{
  padding-top: 70px;
  background-color: #f6f5f5;
}

.whatinside{
  padding-top: 60px;
}

.card{
  border: 1px solid;

}

.whatinside{
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
    font-family: 'Secular One', sans-serif;
}

.row{
  padding-bottom: 150px;
}
.button{

  padding: 10px 20px 80px;
  font-size: 20px;
  border-radius: 10px;
  width:50%;
}

.footer{
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #62959c;
  text-align: center;
}
.fab{
  padding-left: 30px;
  color: #374045;
}
.upbu{
  font-size: 2rem;
  text-align: center;
}

.right{
  padding-bottom: 45px;
}
